logout.php
account.php
ajax.php
avatar.php
bootstrap.php
captcha.php
client.inc.php
file.php
login.php
logo.php
main.inc.php
secure.inc.php
manage.php
profile.php
pwreset.php
tickets.php
view.php
web.config
api/.htaccess
api/api.inc.php
api/cron.php
api/http.php
api/index.php
api/pipe.php
apps/.htaccess
apps/dispatcher.php
setup/*
kb/*
js/fabric.min.js
js/filedrop.field.js
js/jquery-1.11.2.min.js
js/jquery-ui-1.10.3.custom.min.js
js/jquery.pjax.js
js/jstz.min.js
js/osticket.js
js/redactor-plugins.js
js/redactor-osticket.js
js/redactor.min.js
js/select2.min.js
pages/*
scp/apps/*
scp/js/scp.js
scp/js/bootstrap-tab.js
scp/js/bootstrap-tooltip.js
scp/js/bootstrap-typeahead.js
scp/js/dashboard.inc.js
scp/js/g.dot-min.js
scp/js/g.line-min.js
scp/js/g.raphael.js
scp/js/jquery.dropdown.js
scp/js/jquery.translatable.js
scp/js/raphael-min.js
scp/js/thread.js
scp/js/ticket.js
scp/js/tips.js
scp/js/upgrader.js
include/cli/*
include/config/*
include/fpdf/*
include/i18n/*
include/mpdf/*
include/pear/*
include/plugins/*
include/class.model.php
include/.htaccess
include/ajax.admin.php
include/ajax.config.php
include/ajax.content.php
include/ajax.draft.php
include/ajax.filter.php
include/ajax.forms.php
include/ajax.i18n.php
include/ajax.kbase.php
include/ajax.note.php
include/ajax.orgs.php
include/ajax.search.php
include/ajax.sequence.php
include/ajax.staff.php
include/ajax.tasks.php
include/ajax.thread.php
include/ajax.tickets.php
include/ajax.tips.php
include/ajax.upgrader.php
include/ajax.users.php
include/api.cron.php
include/api.tickets.php
include/class.ajax.php
include/class.api.php
include/class.app.php
include/class.attachment.php
include/class.auth.php
include/class.avatar.php
include/class.banlist.php
include/class.base32.php
include/class.canned.php
include/class.captcha.php
include/class.category.php
include/class.charset.php
include/class.cli.php
include/class.client.php
include/class.collaborator.php
include/class.company.php
include/class.config.php
include/class.cron.php
include/class.crypto.php
include/class.csrf.php
include/class.dept.php
include/class.dispatcher.php
include/class.draft.php
include/class.dynamic_forms.php
include/class.email.php
include/class.error.php
include/class.export.php
include/class.faq.php
include/class.file.php
include/class.filter.php
include/class.filter_action.php
include/class.format.php
include/class.http.php
include/class.i18n.php
include/class.import.php
include/class.json.php
include/class.knowledgebase.php
include/class.list.php
include/class.lock.php
include/class.log.php
include/class.mailer.php
include/class.mailfetch.php
include/class.mailparse.php
include/class.message.php
include/class.migrater.php
include/class.misc.php
include/UniversalClassLoader.php
include/.MANIFEST
include/class.nav.php
include/class.note.php
include/class.organization.php
include/class.orm.php
include/class.osticket.php
include/class.ostsession.php
include/class.page.php
include/class.pagenate.php
include/class.passwd.php
include/class.pdf.php
include/class.plugin.php
include/class.priority.php
include/class.report.php
include/class.role.php
include/class.search.php
include/class.sequence.php
include/class.setup.php
include/class.signal.php
include/class.sla.php
include/class.staff.php
include/class.task.php
include/class.team.php
include/class.template.php
include/class.thread.php
include/class.thread_actions.php
include/class.ticket.php
include/class.timezone.php
include/class.topic.php
include/class.translation.php
include/class.upgrader.php
include/class.user.php
include/class.usersession.php
include/class.util.php
include/class.validator.php
include/class.variable.php
include/class.xml.php
include/class.yaml.php
include/html2text.php
include/htmLawed.php
include/index.php
include/JSON.php
include/mysqli.php
include/ost-config.php
include/PasswordHash.php
include/Spyc.php
include/tnef_decoder.php
include/upgrader/streams/*
css/ui-lightness/images/ui-icons_ffd27a_256x240.png
assets/default/css/print.css
assets/default/css/theme.css
assets/default/css/theme.min.css
assets/default/less/base.less
assets/default/less/kb.less
assets/default/less/landing-page.less
assets/default/less/main-layout.less
assets/default/less/print.less
assets/default/less/reset.less
assets/default/less/theme.less
assets/default/less/ticket.less
assets/default/less/ticket-forms.less
css/filedrop.css
css/flags.css
css/font-awesome-ie7.min.css
css/font-awesome.min.css
css/loadingbar.css
css/osticket.css
css/redactor.css
css/redactor-font.eot
css/rtl.css
css/select2.min.css
css/thread.css
css/ui-lightness/jquery-ui-1.10.3.custom.min.css
css/ui-lightness/jquery-ui-1.8.18.custom.css
css/ui-lightness/images/ui-bg_diagonals-thick_18_b81900_40x40.png
css/ui-lightness/images/ui-bg_diagonals-thick_20_666666_40x40.png
css/ui-lightness/images/ui-bg_flat_10_000000_40x100.png
css/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png
css/ui-lightness/images/ui-bg_glass_100_fdf5ce_1x400.png
css/ui-lightness/images/ui-bg_glass_65_ffffff_1x400.png
css/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png
css/ui-lightness/images/ui-bg_highlight-soft_100_eeeeee_1x100.png
css/ui-lightness/images/ui-bg_highlight-soft_75_ffe45c_1x100.png
css/ui-lightness/images/ui-icons_222222_256x240.png
css/ui-lightness/images/ui-icons_228ef1_256x240.png
css/ui-lightness/images/ui-icons_ef8c08_256x240.png
css/ui-lightness/images/ui-icons_ffffff_256x240.png
.vscode/settings.json
